%% -*- erlang -*-
%% can setup for candy reverse enginer car bitrate 500 Kbit/s
[
 {candy, [
	  {bitrates, [125000, 250000, 500000, 1000000]},
	  {datarates, [1000000, 2000000, 5000000]},
	  {profile,
	   [{title, "Candy2"},
	    {screen_color, blue4},
	    %% {selection_color, Color}
	    %% {selection_border_color, Color}
	    %% {menu_font_color, Color}
	    %% {menu_background_color,Color}
	    %% {menu_border_color, Color}
	    %% {scroll_bar_color,  grey5}
	    %% {scroll_hndl_color, grey6}
	    {status_font_color, white},
	    {top_bar_color,  blue2},
	    %% {left_bar_color, green}
	    %% {right_bar_color, blue}
	    {bottom_bar_color, blue1}
	   ]}
	 ]},

 %% status_interval = undefined  CANUSB may sometime lock up on status command
 {can, [
	{interfaces,
	 [
	  {can_udp, 0, [{fd,true},{ttl,1},{ifaddr,any},
			{maddr,{224,0,0,1}}]},
	  {can_usb, 1, [{device,"/dev/serial/by-id/usb-LAWICEL_CANUSB_*-if00-port0"},{bitrate,500000},{status_interval,1000}]},
	  {can_sock, 2, [{device,"can?"},
			 {bitrate,500000},
			 {fd,true},
			 {datarate,1000000},
			 {listen_only,true},
			 {restart_ms, 100}
			]}
	 ]}
       ]},

 {kernel, 
  [
   {logger_level, info},
   {logger,
    [
     {handler, default, undefined}, %% removed default handler
     {handler, default, logger_disk_log_h,
      #{ level => all,
	 config => #{ file => "/tmp/candy_app_log/logs/console.log",
		      type => wrap,
		      max_no_files => 4,
		      max_no_bytes => 1000000
		    } 
       }},
     {handler, error, logger_disk_log_h,
      #{ level => error,
	 config => #{ file => "/tmp/candy_app_log/logs/error.log",
		      type => wrap,
		      max_no_files => 4,
		      max_no_bytes => 1000000
		    }
       }},
     {handler, debug_tty, logger_std_h,
      #{ level => debug,
	 filter_default => stop,
	 filters => [{debug_only,
		      {fun logger_filters:level/2, 
		       {log, eq, debug}}}],
	 config => #{ type => standard_io } %% standard_io | standard_error 
       }},
     {handler, debug, logger_disk_log_h,
      #{ level => debug,
	 filter_default => stop,
	 filters => [{debug_only,
		      {fun logger_filters:level/2, 
		       {log, eq, debug}}}],
	 config => #{ file => "/tmp/candy_app_log/logs/debug.log",
		      type => wrap,
		      max_no_files => 4,
		      max_no_bytes => 1000000
		    }}
     }

    ]}
   ]}
].
