%% -*- erlang -*-
%% can setup for candy reverse enginer car bitrate 500 Kbit/s
[
 %% status_interval = undefined  CANUSB may sometime lock up on status command
 {can, [
	{interfaces,
	 [
	  %% {can_udp, 0, [{ttl,0}]},
	  {can_usb, 1, [{device,"/dev/serial/by-id/usb-LAWICEL_CANUSB_*-if00-port0"},{bitrate,500000},{status_interval,1000}]},
	  {can_sock, 2, [{device,"can?"},
			 {bitrate,500000},
			 {fd,true},
			 {datarate,2000000},
			 {listen_only,true},
			 {restart_ms, 100}
			]}
	 ]}
       ]},

 {candy, [
	  {screen_color, blue2},
	  {bottom_bar_color, green4}
	 ]},

 {kernel, 
  [
   %% {log_root, "/var/erlang/candy/log"}, %% on target
   {logger_level, debug},
   {logger,
    [
     {handler, default, undefined}, %% removed default handler
     {handler, default, logger_disk_log_h,
      #{ level => all,
	 config => #{ file => "logs/console.log",
		      type => wrap,
		      max_no_files => 4,
		      max_no_bytes => 1000000
		    } 
       }},
     {handler, error, logger_disk_log_h,
      #{ level => error,
	 config => #{ file => "logs/error.log",
		      type => wrap,
		      max_no_files => 4,
		      max_no_bytes => 1000000
		    }
       }},
     {handler, debug_tty, logger_std_h,
      #{ level => debug,
	 filter_default => stop,
	 filters => [{debug_only,
		      {fun logger_filters:level/2, 
		       {log, eq, debug}}}],
	 config => #{ type => standard_io } %% standard_io | standard_error 
       }},
     {handler, debug, logger_disk_log_h,
      #{ level => debug,
	 filter_default => stop,
	 filters => [{debug_only,
		      {fun logger_filters:level/2, 
		       {log, eq, debug}}}],
	 config => #{ file => "logs/debug.log",
		      type => wrap,
		      max_no_files => 4,
		      max_no_bytes => 1000000
		    }}
     }

    ]}
   ]}
].
